In [2]:
import pandas as pd
import os, random
os.getcwd()

'c:\\Users\\T-Gamer\\Documents\\SideDrive\\UFMA\\2022.1\\Topicos Especiais (NLP)\\Exercicios\\Trabalho Final\\Implementação\\source'

In [3]:
# Fold Split
# Args
k = 10
seed = 0
dataset_folder = "../resources/datasets/TwitterAirlines"
dataset_name = "TweetsProcessed2"
# dataset_folder = "../resources/datasets/IMDBMovieReviews"
# dataset_name = "IMDB_MRProcessed"

# Exec
dataset_path = f"{dataset_folder}/{dataset_name}.csv"
save_path = f"{dataset_folder}/folds"

if not os.path.exists(save_path) : os.makedirs(save_path)

dataset = pd.read_csv(dataset_path, index_col=0)
dataset_shuffle = [row for _, row in dataset.iterrows()]

random.seed(seed)
random.shuffle(dataset_shuffle)

dataset = pd.DataFrame(dataset_shuffle)

fold_size = dataset.shape[0] / 10
folds = []
for i_fold in range(k) :
    fold_df = dataset.iloc[int(i_fold * fold_size) : int((i_fold + 1) * fold_size)]
    print(f"DF Shape of Fold {i_fold + 1}:", fold_df.shape)
    fold_df.to_csv(f"{save_path}/{dataset_name}_Fold{i_fold + 1}.csv")
    folds.append(fold_df)

folds[0]

DF Shape of Fold 1: (1464, 2)
DF Shape of Fold 2: (1464, 2)
DF Shape of Fold 3: (1464, 2)
DF Shape of Fold 4: (1464, 2)
DF Shape of Fold 5: (1464, 2)
DF Shape of Fold 6: (1464, 2)
DF Shape of Fold 7: (1464, 2)
DF Shape of Fold 8: (1464, 2)
DF Shape of Fold 9: (1464, 2)
DF Shape of Fold 10: (1464, 2)

                                                                 text  class
568598412544704512  <start> want to book a multi city fare have mi...      1
568014845062332416  <start> iad to jfk still has n't boarded what'...      0
569665738165891073  <start> 24 hrs amp 2 cncld flights late flight...      0
569532924036407297  <start> a member of your staff at phl just gav...      0
569539746348675073  <start> there was a closure people here need t...      0
...                                                               ...    ...
570192105752039427  <start> darn i bought it on the wrong device n...      0
569700785824669696                         <start> sweet home chicago      2
570292371340062720  <start> sadly i'm currently booked on one of y...      0
569358953567670272  <start> cancelled flightled flight 1796 baggag...      0
570179455911481344  <start> they were no where to be found at midn...      0

[1464 rows x 2 columns]

In [3]:
# Train, test, dev split (SST)
# Args
dataset_folder = "../resources/datasets/StanfordSentimentTreebank"
dataset_name = "SST2Processed2"

# Exec
dataset_path = f"{dataset_folder}/{dataset_name}.csv"
save_path = f"{dataset_folder}/split"

if not os.path.exists(save_path) : os.makedirs(save_path)

dataset = pd.read_csv(dataset_path, index_col=0)
for splitset, splitset_label in zip(range(1, 4), ["train", "test", "dev"]) :
    splitset_df = dataset.loc[dataset["splitset"] == splitset]
    splitset_df = splitset_df.drop(columns=["splitset"])
    splitset_df.to_csv(f"{save_path}/{dataset_name}-{splitset_label}.csv")