In [10]:
import pandas as pd
import os, random
os.getcwd()

'c:\\Users\\T-Gamer\\Documents\\SideDrive\\UFMA\\2022.1\\Topicos Especiais (NLP)\\Exercicios\\Trabalho Final\\Implementação\\source'

In [14]:
# Fold Split
# Args
k = 10
seed = 0
# dataset_folder = "../resources/datasets/TwitterAirlines"
# dataset_name = "TweetsProcessed"
dataset_folder = "../resources/datasets/IMDBMovieReviews"
dataset_name = "IMDB_MRProcessed"

# Exec
dataset_path = f"{dataset_folder}/{dataset_name}.csv"
save_path = f"{dataset_folder}/folds"

if not os.path.exists(save_path) : os.makedirs(save_path)

dataset = pd.read_csv(dataset_path, index_col=0)
dataset_shuffle = [row for _, row in dataset.iterrows()]

random.seed(seed)
random.shuffle(dataset_shuffle)

dataset = pd.DataFrame(dataset_shuffle)

fold_size = dataset.shape[0] / 10
folds = []
for i_fold in range(k) :
    fold_df = dataset.iloc[int(i_fold * fold_size) : int((i_fold + 1) * fold_size)]
    print(f"DF Shape of Fold {i_fold + 1}:", fold_df.shape)
    fold_df.to_csv(f"{save_path}/{dataset_name}_Fold{i_fold + 1}.csv")
    folds.append(fold_df)

folds[0]

DF Shape of Fold 1: (2500, 2)
DF Shape of Fold 2: (2500, 2)
DF Shape of Fold 3: (2500, 2)
DF Shape of Fold 4: (2500, 2)
DF Shape of Fold 5: (2500, 2)
DF Shape of Fold 6: (2500, 2)
DF Shape of Fold 7: (2500, 2)
DF Shape of Fold 8: (2500, 2)
DF Shape of Fold 9: (2500, 2)
DF Shape of Fold 10: (2500, 2)

          label                                               text
9284_1        0  man even plan outer space better movie flick n...
11479_10      1  movie excellent bit scary excellent heard colu...
7885_1        0  believe keeping religion government movie want...
274_2         0  seems little way middle ground watch rhine con...
2828_3        0  seem number film like released s fact recollec...
...         ...                                                ...
10141_2       0  steven seagal mr personality time united state...
4103_2        0  movie imdb rating expected much start funny en...
1352_1        0  eytan fox whilst generally leaning apologist s...
2743_9        1  year cold blood riveting thriller two new inte...
8117_8        1  first saw film year ago ny television thought ...

[2500 rows x 2 columns]

In [12]:
# Train, test, dev split (SST)
# Args
dataset_folder = "../resources/datasets/StanfordSentimentTreebank"
dataset_name = "SST2Processed"

# Exec
dataset_path = f"{dataset_folder}/{dataset_name}.csv"
save_path = f"{dataset_folder}/split"

if not os.path.exists(save_path) : os.makedirs(save_path)

dataset = pd.read_csv(dataset_path, index_col=0)
for splitset, splitset_label in zip(range(1, 4), ["train", "test", "dev"]) :
    splitset_df = dataset.loc[dataset["splitset"] == splitset]
    splitset_df = splitset_df.drop(columns=["splitset"])
    splitset_df.to_csv(f"{save_path}/{dataset_name}-{splitset_label}.csv")